* {
    margin: 0;
    padding: 0;
}

/* started position tricks... */

html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
}

#container {
    position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:1024px;
	height:auto !important; /* real browsers */
	min-height:100%; /* real browsers */
}

/* ended position tricks... */

h1, h2, h3, h4 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
}

h1 {
    color: #999999;
    font-size: 36pt;
    margin-bottom: 10px;
}

h2 {
    font-size: 20pt;
}

.post_title {
    color: #ffffff;
    background-color: #aeaeae;
    padding-left: 4px;
    padding-right: 4px;
}

.post_title a {
    text-decoration: none;
    color: inherit;
}

#header {
    padding-top: 50px;
}

#header_title {
    font-size: 52pt;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #cccccc;
    text-shadow: 2px 2px 2px #999999;
}

#content {
    position: relative;
    float: left;
    overflow: hidden;
    padding: 5px;
    text-align: justify;
    margin-top: 45px;
}

.txt {
    list-style: none;
    font-size: 20pt;
    font-family: 'Garamon', 'Times New Roman', serif;
}

.txt li {
    margin-bottom: 20px;
}

.txt p {
    margin-bottom: 0.5em;
    padding-right: 5px;
    text-indent: 30px;
}
