* {
    margin: 0;
    padding: 0;
}

/* started position tricks... */

html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
}

#container {
    position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:1024px;
	height:auto !important; /* real browsers */
	min-height:100%; /* real browsers */
    padding-left: 20px;
}

#header {
    padding-top: 50px;
}

#content_nav_holder {
    margin-top: 20px;
    float: left;
    width: 100%;
}

#footer {
    position:absolute;
	width:100%;
	bottom:0; /* stick to bottom */
}

/* ended position tricks... */

h1, h2, h3, h4 {
    font-style: normal;
    font-weight: normal;
}

h1 {
    color: #999999;
    font-size: 30pt;
    margin-bottom: 10px;
}

h2 {
    font-size: 20pt;
}

#header_title {
    font-size: 36pt;
    font-family: Times, serif;
    text-decoration: none;
    color: #999999;
}

#content {
    width: 70%;
    position: relative;
    float: left;
    overflow: hidden;
    padding-right: 5px;
    text-align: justify;
}

#nav {
    position: relative;
    float: right;
    overflow: hidden;
    width: 27%;
    border-left: 1px dotted #999999;
    padding-left: 10px;
    font-size: 20pt;
    font-family: 'Garamon', 'Times New Roman', serif;
}

#nav li {
    list-style: none;
    padding-bottom: 10px;
}

.txt {
    list-style: none;
    font-size: 20pt;
    font-family: 'Garamon', 'Times New Roman', serif;
}

.txt li {
    margin-bottom: 20px;
}

.txt p {
    margin-bottom: 0.5em;
    padding-right: 5px;
    text-indent: 30px;
}

span.content_title {
    font-family: sans-serif;
    color: #ffffff;
    background-color: #aeaeae;
    padding-left: 4px;
    padding-right: 4px;
}

span.content_title a {
    text-decoration: none;
    color: inherit;
}
